
@{
    
    ViewBag.Title = "To-Do List";
}

<h2>Listado de Tareas</h2>

@using (Html.BeginForm("Create", "Tasks", FormMethod.Post))
{
    <div>
        Nueva Tarea: <input type="text" name="description">
        <input type="submit" value="Agregar">
    </div>
}

<br />

<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout: auto">

    <tr>
        <th>Tareas:</th>
    </tr>

    @foreach (var item in ViewBag.Tasks)
    {
        <tr>
            <td>
                @using (Html.BeginForm("Delete", "Tasks", FormMethod.Post))
                {
                    @item["Text"]
                    <button name="id" value="@item["Id"]" style="float:right">Borrar</button>
                }
            </td>
        </tr>
    }

</table>