@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Azure B2C - Demo Web Site</h1>
    <p class="lead">Suspendisse sollicitudin condimentum nibh at lobortis. Quisque laoreet porta justo a fermentum. Suspendisse fermentum faucibus fermentum. Donec sapien libero, blandit vitae eros id, fringilla aliquet orci. Suspendisse lacinia odio sit amet est consequat, ut accumsan tellus mattis. Suspendisse facilisis et ante ut finibus. In sed lorem et turpis posuere porttitor. Phasellus vitae ultrices quam.</p>
    
</div>

